<!DOCTYPE html>
<html lang="fr">
<head>
    <title>GenAI-Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div>
    <p class="align-center"><img src="static/favicon.png" alt="Python-BOT" height="210" width="220"></p>
    <h1 class="align-center"><b>Chatbot de la réglementation drone</b></h1>
    <div class="boxed">
        <div class="boxed-inner">
            <div id="chatbox">
                <p class="botText">
                    <span>Bonjour, je suis le chatbot de la DSAC. Posez-moi une question !</span>
                </p>
            </div>
            <div id="userInput">
                <label for="textInput" hidden="hidden"></label><input id="textInput" type="text" name="msg"
                                                                      placeholder="Message"/>
            </div>
        </div>
        <script>
            const textInput = $("#textInput")

            function getBotResponse() {
                const rawText = textInput.val();
                const userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                textInput.val("");
                $("#chatbox").append(userHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({block: "start", behavior: "smooth"});
                $.get("/get", {msg: rawText}).done(function (data) {
                    console.log(data)
                    const botHtml = '<p class="botText"><span>' + data + "</span></p>";
                    $("#chatbox").append(botHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({block: "start", behavior: "smooth"});
                });
            }

            textInput.keypress(function (e) {
                if (e.which === 13) {
                    getBotResponse();
                }
            });
        </script>
    </div>
</div>
</body>
</html>